:root {
    /* Primary */
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-dark-black-blue: hsl(234, 17%, 12%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Red Hat Text',Arial, Helvetica, sans-serif;
}

body {
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}